
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h3>USER MNG</h3></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  >
          <a class="nav-link" [routerLink]="['/']" >หน้าหลัก</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/user']">จัดการผู้ใช้งาน</a>
        </li>
      </ul>
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right" [ngStyle]="{'display':this.fullName ? 'inline' :'none'}" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.fullName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <!--
            <a class="dropdown-item" href="#">ข้อมูลผู้ใช้</a>
            <a class="dropdown-item" href="#">เปลี่ยนรหัสผ่าน</a>
            <div class="dropdown-divider"></div>
            -->
            <button (click)="onLogout()" class="dropdown-item" href="#">ออกจากระบบ</button>
          </div>
        </li>
      </ul>
    </div>
</nav>