<div class="col-md-12" style="padding-top:12px; ">
    <div class="col-md-12">
        <div class="container-fluid">              
            <div class="col-sm-12">
                <div class="row" >
                    <label ><h5>ค้นหาผู้ใช้งาน</h5></label>
                </div>
            </div>
            <div class="col-sm-12">
                <!--Start Search Box-->
                <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch(searchForm.value)">
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label >ชื่อ-นามสกุล</label>
                            <input type="text" class="form-control"  name="searchName" id="searchName" formControlName="name">
                        </div>                                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >หน่วยงาน</label>
                                <select class="form-control" name="searchDept" id="searchDept" formControlName="divn">

                                    <option  [value]="0">เลือกทั้งหมด</option>
                                    <option  *ngFor="let division of divisions" [value]="division.divnId">
                                        {{division.divnName}}
                                    </option>

                                </select>
                        </div>
                    </div>   
                </div>
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                        <label>สถานะ</label>
                        <select class="form-control" name="searchStatus" id="searchStatus" formControlName="flag" >
                            <option [value]="0" >กรุณาเลือก</option>
                            <option [value]="1">ใช้งาน</option>
                            <option [value]="2">ไม่ใช้งาน</option>
                        </select>
                        </div>     
                    </div>   
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">ค้นหา</button>&nbsp;
                        <button type="reset" class="btn btn-secondary">ล้างค่า</button>
                    </div>
                </div>
                </form>
                <!-- End Search Box-->

              <app-tb-user></app-tb-user>

            </div>
        </div>                  
    </div>
</div>


<!--
<app-modal-detail [refComjId]="refComjId"></app-modal-detail>
<app-new-comj></app-new-comj>
<app-verify></app-verify>
-->
