<div #modalSaveUser class="modal fade" id="modalSaveUser" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">บันทึกข้อมูลผู้ใช้งาน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form #formUser="ngForm" (ngSubmit)="onSubmitSave(formUser)">
        <div class="modal-body">
            <div class="col-md-12" style="padding-top:12px; ">
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>ชื่อ-นามสกุล</label>
                            <input type="text" [(ngModel)]="fullName" name="fullName" class="form-control"
                            #localFullName="ngModel" 
                            [ngClass] = "{'is-invalid' : localFullName.errors && localFullName.touched}"
                            required
                            >
                            <div class="invalid-feedback">โปรดระบุชื่อ-นามสกุล</div>
                        </div>
                    </div>    
              
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>ตำแหน่ง</label>
                            <input type="text" [(ngModel)]="position" name="position" class="form-control"
                            #localPosition="ngModel" 
                            [ngClass] = "{'is-invalid' : localPosition.errors && localPosition.touched }"
                            required
                            >
                            <div class="invalid-feedback">โปรดระบุตำแหน่ง</div>
                        </div>                                    
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>หน่วยงาน</label>
                            <select [(ngModel)]="divn" name="divn" class="form-control" 
                            #localDivn="ngModel" 
                            [ngClass] = "{'is-invalid' : localDivn.errors && localDivn.touched}"
                            pattern="[^0]+"
                            >

                                <option  [value]="0">เลือกทั้งหมด</option>
                                <option  *ngFor="let division of divisions" [value]="division.divnId">
                                    {{division.divnName}}
                                </option>
                            </select>
                            <div class="invalid-feedback">โปรดระบุหน่วยงาน</div>
                        </div>                                    
                    </div>
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>สถานะ</label>
                            <select [(ngModel)]="status" name="status" class="form-control" 
                            #localStatus="ngModel" 
                            [ngClass] = "{'is-invalid' : localStatus.errors && localStatus.touched}"
                            pattern="[^0]+"
                            >
                                <option [value]="0">กรุณาเลือก</option>
                                <option [value]="1">ใช้งาน</option>
                                <option [value]="2">ไม่ใช้งาน</option>
                            </select>
                            <div class="invalid-feedback">โปรดระบุสถานะ</div>
                        </div>                                    
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" [(ngModel)]="username" name="username" class="form-control"
                            #localUsername="ngModel" 
                            [ngClass] = "{'is-invalid' : localUsername.errors && localUsername.touched }"
                            maxlength="12"
                            minlength="4"
                            required
                            >
                            <div class="invalid-feedback">โปรดระบุชื่อผู้ใช้งานอย่างน้อย 4 ตัวอักษร</div>
                        </div>                                    
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"  [(ngModel)]="password" name="password"  class="form-control"
                            #localPassword="ngModel" 
                            [ngClass] = "{'is-invalid' : (localPassword.errors && localPassword.touched)}"
                            maxlength="12"
                            minlength="4"
                            [required]="this.mode=='new'"
                            >
                            <div class="invalid-feedback">โปรดระบุรหัสผ่านอย่างน้อย 4 ตัวอักษร</div>
                        </div>                                    
                    </div>
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label>Re-Password</label>
                            <input type="password"  [(ngModel)]="rePassword" name="rePassword"  class="form-control"
                            #localRePassword="ngModel" 
                            [ngClass] = "{'is-invalid' : (localRePassword.errors && localRePassword.touched && this.mode == 'new') || ((password != rePassword && rePassword != '') ) }"
                            maxlength="12"
                            minlength="4"
                            [required]="this.mode=='new'" 
                            >
                            <div class="invalid-feedback">โปรดระบุรหัสผ่านให้ตรงกัน</div>
                        </div>                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!formUser.form.valid || password != rePassword">Save changes</button>
        </div>
        </form> 
     
    </div>
</div>
</div>